.potential {
    padding-top: 85px;
    padding-bottom: 76px;
    background: #fff;
}

.potential__title {
    margin-bottom: 39px;
}

.potential__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.potential__right {
    padding-top: 83px;
}

.potential__subtitle {
    max-width: 454px;
    margin-bottom: 40px;
}

.potential__text {
    max-width: 434px;
    margin-bottom: 35px;
}

.potential__button {
    width: 142px;
}


@media screen and (max-width: 1128px) {
    .potential__content {
        flex-direction: column-reverse;
    }

    .potential__right {
        padding-top: 0;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    .potential {
        padding: 30px 0;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 650px) {
    .potential__img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .potential__title {
        margin-bottom: 25px;
    }

    .potential__subtitle {
        margin-bottom: 25px;
    }
}