.crumbs {
    display: flex;
    align-items: center;
}

.crumb {
    font-size: 12px;
    font-weight: 400;
    color: #6c6c6c;
}

.crumb-separator {
    margin: 0 3px;
    font-size: 11px;
    color: #ff9033;
}

.crumb_active {
    color: #464545;
    font-weight: 500;
}