.header__langs {
    width: 62px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
}

.header__lang {
    cursor: pointer;
    transition: 0.2s;
}

.header__lang_active {
    font-weight: 700;
    color: #000;
}

.header__separ {
    color: #ff9033;
}